<footer>
    <ul class="social-networks">
        <li><a href="https://www.facebook.com/">Facebook</a></li>
        <li><a href="https://twitter.com/">Twitter</a></li>
        <li><a href="https://www.instagram.com/">Instagram</a></li>
    </ul>
    <ul class="creadores">
        <li>Creador1</li>
        <li>Creador2</li>
        <li>Creador3</li>
    </ul>
    <ul class="interest-links">
        <li><a href="https://www.google.com/maps">MAPS</a></li>
        <li><a href="https://www.minsait.com/es">MINSAIT</a></li>
        <li><a href="https://www.minsait.com/es">INDRA</a></li>
    </ul>
</footer>