.navbar{
    background-color: lightskyblue;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    a{
        text-decoration: none;
        background-color: lime;
        padding: 10px;
        margin:5px
    }
}