.lista{
    background-color: whitesmoke;
}

.bannerheroe{
    background-color: lightcoral;
    margin: 10px;
    display: flex;

    flex-direction: row;
    &__img{
        width: 100px;
        height: 100px;
    }
    :hover{
        background-color: mediumaquamarine;
    }
}
