<h2>Funcionamiento de la pagina web</h2>
<h3>Navbar</h3>
<p> Contiene dos botones, uno de ellos muestra la vista HOME, y el otro botón muestra la vista LIST </p>
<p> Esta barra de navegación estará siempre presente para que el usuario pueda navegar con facilidad en la herramienta</p>
<h3> Home </h3>
<p> Contiene la información principal de la web, explica el concepto de héroe,
    los requisitos para que un héroe sea clasificado como tal y el funcionamiento
    de la página web al completo
</p>
<h3>LIST</h3>
<p>Contiene una lista de los héroes cuya información sepuede mostrar</p>
<p> Cada elemento de la lista muestra una imagen y el nombre del superhéroe</p>
<p> Al pinchar un elemento de la lista, se mostrará una vista con la información detallada del superhéroe.</p>

<h3>DETAIL</h3>
<p>Esta vista es la que contiene la información detallada de un superhéroe.</p>