
<div class="detail-component">
    <h1>CREACION DE UN HEROE</h1>
    <form [formGroup]="heroeRegisterForm" (ngSubmit)="onSubmit()">
        <div class="heroe">
            <div class="heroeelement Heroeimage">
            <span class="heroeelement_image">
                <b>IMAGEN(URL): </b><input type="text" formControlName="id">
            </span>
            <p>{{heroeRegisterForm.valid}}</p>
            </div>
        </div>
        <button type="submit">CREAR NUEVO HEROE</button>
    </form>
</div>