
<div class="detail-component">
    <h1>CREACION DE UN HEROE</h1>

    <div class="heroe">
        <div class="heroeelement Heroeimage">
            <span class="heroeelement_image"><b>IMAGEN(URL): </b><input type="text"></span>
        </div>
        <div class="heroeelement Heroebiography">
            <span class="heroeelement__biography"><b>BIOGRAFIA:</b> <input type="text"></span>
        </div>
        <div class="heroeelement Heroepowerstats">
            <span class="heroeelement__powerstats"><b>POWER STATS:</b> <input type="text"></span>
        </div>
        <div class="heroeelement Heroeappearance">
            <span class="heroeelement_appearance"><b>APARIENCIA:</b> <input type="text"></span>
        </div>
        <div class="heroeelement Heroework">
            <span class="heroeelement__work"><b>TRABAJOS:</b> <input type="text"></span>
        </div>
        <div class="heroeelement Heroeconnections">
            <span class="heroelement__connections"><b>CONEXIONES:</b> <input type="text"></span>
        </div>
    </div>
</div>